<mat-card>

    <mat-card-title>Proleit</mat-card-title>

    <mat-card-content>

        <form [formGroup]="loginForm" (ngSubmit)="submit()">

            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Username" formControlName="UserName">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" formControlName="Password">
                </mat-form-field>
            </p>

            <p *ngIf="error" class="error">
                <!-- {{ error }} -->
            </p>

            <div class="button">
                <button type="submit" [disabled]="!loginForm.valid" mat-button>Login</button>
            </div>

        </form>

    </mat-card-content>

</mat-card>