<div class="wrapper">

  <app-header *ngIf="userIsLogged"></app-header>

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
      
      <router-outlet></router-outlet>

    </div>
  </div>

  <!-- snakbar deve ser aqui -->

  <app-footer *ngIf="userIsLogged"></app-footer>

</div>

<!--  -->